@font-face {
    font-family: 'RobotoLight';
    src: local('RobotoLight'), url('resources/roboto.light.ttf') format('ttf');
}
.memeno-header {
    color: #ffed2b;
    font-family: 'RobotoLight';
    margin: auto;
}
